<!DOCTYPE html>
<html>
<head>
  <title>sinat</title>

  <style type="text/css">


  </style>
</head>
<body>
      <h1>Super Awesome Home!</h1>

      <h2> Sign up! </h2>

      <form method="post">
        
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="John Doe">

        <label for="email">Email</label>
        <input type="email" name="email" required placeholder="Example@mail.com">

        <input type="submit" value="Submit">

      </form>

      <hr>

      <h2>Listing all contacts</h2>

<table class="listing_contacts">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.id %></td>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
    </tr>

  <% end %>
      
      
</body>
</html>